@model Dictionary<string,object>
<div class="card shadow border-0 my-4" id="stock-details" style="width: 18rem;">
    <div class="card-img-top text-center">
        <img class="mt-3" src="@Model["logo"]" style="height:10rem; width: 10rem;" />
    </div>
    <div class="card-body">

        <h3 class="card-title">@Model["name"] (@Model["ticker"])</h3>
        <h5 class="badge text-bg-info">@Model["finnhubIndustry"]</h5>

        <h4 class="mb-1 card-text">
            Exchange: <span title="@Model["exchange"]" class="badge text-bg-light" style="display: inline-block;width: 15rem;white-space: nowrap;overflow: hidden;text-overflow:ellipsis;">@Model["exchange"]</span>
        </h4>

        <h2 class=""><span class="text-muted">$</span>@Model["price"]</h2>
        <a class="btn btn-primary" id="trade-button" asp-area="User" asp-controller="Trade" asp-action="Index" asp-route-id="@Model["ticker"]">Trade Now</a>
    </div>
</div>