@model StockTrade
@{
    ViewBag.holdingStyleColor = Model.ChangePercent > 0 ? "text-success" : "text-danger";
    ViewBag.SelectedStock = Model.StockSymbol;
}

<section class="trade-container">
    <div class="text-center mt-3" id="goup">
        <h2>Trading Page</h2>
        <h6>
            Search stock symbols to trade. For example, type GM for General Motors.
        </h6>
        <hr />
    </div>
    <div class="container">
        <div>
            <form method="get" id="searchStockForm" asp-route-id="@ViewBag.SelectedStock" autocomplete="off" class="form-inline row mt-3 justify-content-center selected-holding">
                <div class="col-3 px-1 autocomplete">
                    <input id="searchStockInput" type="text" value="@ViewBag.SelectedStock" autoFocus onChange="" class="form-control " placeholder="Enter stock symbol" />
                </div>
                <div class="col-1 px-1">
                    <button id="searchStockButton" onclick="return validateStockSearch()" type="submit" class="btn btn-primary w-100"> Submit </button>
                </div>
                @*            <h6 class="w-100 text-center text-success" style="display: @(Model.StockSymbol == null ? "none" : "block" );">
                @Model.StockName
                </h6>*@
            </form>
        </div>
        @if (Model.StockSymbol != null)
        {

            <div class="selected-holding card my-4">
                <div class="card-head">
                    <h2>
                        @Model.StockName: @Model.StockSymbol
                    </h2>
                    @*                <div class="card-buttons">
                <BuyModal handleBuyShares={handleBuyShares}
                selectedHolding={selectedHolding}
                shares={shares} />
                <SellModal handleSellShares={handleSellShares}
                selectedHolding={selectedHolding}
                shares={shares} />
                </div>*@
                </div>
                <hr />
                <div class="card-body">
                    <div class="price">
                        <strong>Current Price</strong>
                        <p class="mb-0 @ViewBag.holdingStyleColor">
                            @Model.CurrentPrice.ToString("c")
                        </p>
                        <small class="@ViewBag.holdingStyleColor">
                            Previous Closed: @Model.PreviousClosedPrice.ToString("c")
                        </small>
                    </div>
                    <div class="percent">
                        <strong>Percent Change</strong>
                        <p class="@ViewBag.holdingStyleColor">
                            @(Model.ChangePercent >= 0 ? "+" : "")@(Model.ChangePercent)%
                        </p>
                    </div>
                    <div class="change">
                        <strong>Daily Gain/Loss</strong>
                        <p class="@ViewBag.holdingStyleColor">
                            @Model.DailyChange.ToString("+$0.##;-$0.##")
                        </p>
                    </div>
                    <div class="shares-held">
                        <strong>Shares Held</strong>
                        <p>@Model.SharesOwned</p>
                    </div>
                </div>
            </div>
            <div class="text-center mt-3" id="goup">
                <hr class="pt-5" />
                <h3>Historical Data for @Model.StockSymbol</h3>
                <h6>
                    CandleStick chart for the past YEAR.
                </h6>
            </div>
            <div className="chart">
                <iframe width="100%" frameborder="0" height="500" src="https://widget.finnhub.io/widgets/stocks/chart?symbol=@(Model.StockSymbol)&watermarkColor=%231db954&backgroundColor=%23222222&textColor=white">
                </iframe>
            </div>
        }
    </div>
    <vc:popular-stocks></vc:popular-stocks>
</section>

<script>
    var stocks;
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetStocksNamesList", "Api")',
            dataType: 'json',
            success: function (result) {
                stocks = result
                autocomplete(document.getElementById("searchStockInput"), stocks);
            },
            error: function (error) {
                console.log(error);
            }
        });
        $("#searchStockInput").keyup(function (event) {
            if (event.keyCode === 13) {
                $("#searchStockButton").click();
            }
        });
    });
    function validateStockSearch() {
        var stockSymbol = $("#searchStockInput").val();
        if (stockSymbol == "") {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Please enter a stock symbol!',
            })
            return false;
        }
        if (!stocks.includes(stockSymbol)) {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Please enter a valid stock symbol!',
            })
            return false;
        }
        var form = document.getElementById("searchStockForm");
        form.action = "/User/Trade/Index/" + stockSymbol;
        return true;
    }
</script>

@section Header{
    <link rel="stylesheet" href="~/css/trade.css" />
    <link rel="stylesheet" href="~/css/autocomplete.css" />
}
@section Scripts{
    <script src="~/js/autocomplete.js"></script>
}