@model PortfolioVM
<div id="myModal" class="modal pt-5">
    <div class="modal-content bg-secondary">
        <div class="modal-header bg-secondary">
            <span class="close">&times;</span>
        </div>
        <div class="modal-body ">
        </div>
        <div class="modal-footer bg-secondary">
        </div>
    </div>
</div>
<section class="container">
    <div class="portfolio-container text-center mt-3">
        <h2>Portfolio</h2>
        <h6>
            Each account starts with $10,000 fake dollars. Gamble responsibly.
        </h6>
        <hr />
    </div>
    <div class="portfolio-top-wrapper d-flex align-items-start">
        <div class="mx-5 col-sm-12 card user-info mt-3 w-50 align-content-center text-center border-dark">
            <div class="card-header h4 fw-bold">Account Information</div>
            <ul class="list-group list-group-flush  h5">
                <li class="list-group-item">User: @Model.FullName</li>
                <li class="list-group-item">Account Balance: @Model.Balance.ToString("c")</li>
                <li class="list-group-item">
                    Total Holding Value: @Model.Stocks.Sum(s => s.TotalValue).ToString("c")
                </li>
            </ul>
        </div>
        <div id="piechart"></div>
    </div>
    <br />
    <div class="user-holdings-list container">
        <div class="text-end">
            <button onclick="orderDetails('')" class="btn btn-primary mx-2">See All Order History</button>
        </div>
        @foreach (var stock in Model.Stocks)
        {
            <partial name="_OrderCardPartial" model="stock" />
        }
    </div>
</section>

@section Scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="~/js/modal.js"></script>
    <script type="text/javascript">
        // Load google charts
        var myArray = [["StockSymbols", "StockShares"]];
        @foreach (var stock in Model.Stocks)
        {
            @:myArray.push(["@stock.StockSymbol", @stock.SharesOwned]);
        }
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(function () { drawChart(myArray, 'piechart') });
        
    </script>
    <script>
        function orderDetails(symbol) {
            LoadOrderDetails("modal","modal-body", symbol, "@Url.Action("OrderHistory","Portfolio")");
        }
    </script>
}
@section Header{
    <link rel="stylesheet" href="~/css/portfolio.css" />
    <link rel="stylesheet" href="~/css/modal.css" />
}
