@model PortfolioVM
<div id="myModal" class="modal pt-5">
    <div class="modal-content bg-secondary">
        <div class="modal-header bg-secondary">
            <span class="close">&times;</span>
        </div>
        <div class="modal-body ">
        </div>
        <div class="modal-footer bg-secondary">
        </div>
    </div>
</div>
<section class="container">
    <div class="portfolio-container text-center mt-3">
        <h2>Portfolio</h2>
        <h6>
            Each account starts with $10,000 fake dollars. Gamble responsibly.
        </h6>
        <hr />
    </div>
    <div class="portfolio-top-wrapper d-flex align-items-start">
        <div class="mx-5 col-sm-12 card user-info mt-3 w-50 align-content-center text-center border-dark">
            <div class="card-header h4 fw-bold">Account Information</div>
            <ul class="list-group list-group-flush  h5">
                <li class="list-group-item">User: @Model.FullName</li>
                <li class="list-group-item">Account Balance: @Model.Balance.ToString("c")</li>
                <li class="list-group-item">
                    Total Holding Value: @Model.Stocks.Sum(s => s.TotalValue).ToString("c")
                </li>
            </ul>
        </div>
        <div id="piechart"></div>
    </div>
    <br />
    <div class="user-holdings-list container">
        @foreach (var stock in Model.Stocks)
        {
            <partial name="_OrderCardPartial" model="stock" />
        }
    </div>
</section>

@section Scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        // Load google charts
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);
        var myArray = [["StockSymbols", "StockShares"]];
        @foreach (var stock in Model.Stocks)
        {
            @:myArray.push(["@stock.StockSymbol", @stock.SharesOwned]);
        }
            console.log(myArray);
        function drawChart() {
            var data = google.visualization.arrayToDataTable(myArray);

            var options = {
                backgroundColor: 'transparent',
                legend: 'none',
                width: 600,
                height: 400,
                pieSliceText: 'percentage',
                colors: ['#0598d8', '#f97263'],
                chartArea: {
                    left: "3%",
                    top: "3%",
                    height: "94%"
                }
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
        }
    </script>

    <script>
        // Get the modal
        var modal = document.getElementById("myModal");
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        function orderDetails(symbol) {
            console.log(symbol);
            var body = document.getElementsByClassName("modal-body")[0];
            body.innerHTML = `
                            <div class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
                             `
            modal.style.display = "block";
            $.ajax({
                type: "GET",
                url: "@Url.Action("OrderHistory","Trade")",
                data: { id: symbol },
                success: function (result) {
                    body.innerHTML = result;
                }
            });
        }
    </script>
}
@section Header{
    <link rel="stylesheet" href="~/css/portfolio.css" />
    <style>
        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content/Box */
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 80%; /* Could be more or less, depending on screen size */
        }

        /* The Close Button */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }
        /* Modal Header */
        .modal-header {
            padding: 2px 16px;
            background-color: #222222;
            color: white;
        }

        /* Modal Body */
        .modal-body {
            padding: 2px 16px;
        }

        /* Modal Footer */
        .modal-footer {
            padding: 2px 16px;
            background-color: #222222;
            color: white;
        }

        /* Modal Content */
        .modal-content {
            position: relative;
            background-color: #fefefe;
            margin: auto;
            padding: 0;
            border: 1px solid #888;
            width: 80%;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
            animation-name: animatetop;
            animation-duration: 0.4s
        }

        /* Add Animation */
        @@keyframes animatetop {
            from {
                top: -300px;
                opacity: 0
            }

            to {
                top: 0;
                opacity: 1
            }
        }
    </style>
}
