@model OrderHistoryVM
@{
    Layout = null;
}
<div class="pb-2 ps-4">
    <a asp-controller="Portfolio" asp-action="OrdersPDF" target=”_blank” asp-route-id="@Model.Symbol">Download as PDF</a>
</div>
<div class="row orders-list">
    <div class="col-6" id="buy-orders-list">
        <div class="box">
            <h4 class="text-grey mb">Buy Orders</h4>
            @foreach (BuyOrderResponse buyOrder in Model.BuyOrders)
            {
                <div class="border-bottom p">
                    <h3>@buyOrder.StockName (@buyOrder.StockSymbol)</h3>
                    <h5 class="mb">@buyOrder.Quantity <span class="text-grey">shares at </span> $@buyOrder.Price.ToString("N")</h5>
                    <h5 class="mb"><span class="text-grey">Trade Amount: </span> $@buyOrder.TradeAmount.ToString("N")</h5>

                    <div class="text-grey">@buyOrder.DateAndTimeOfOrder.ToString("dd MMMM yyyy hh:mm:ss tt")</div>
                </div>
            }
            @if (Model.BuyOrders.Count() == 0)
            {
                <div class="mt text-grey">No orders</div>
            }
        </div>
    </div>

    <div class="col-6" id="sell-orders-list">
        <div class="box">
            <h4 class="text-grey mb">Sell Orders</h4>
            @foreach (SellOrderResponse sellOrder in Model.SellOrders)
            {
                <div class="border-bottom p">
                    <h3>@sellOrder.StockName (@sellOrder.StockSymbol)</h3>
                    <h5 class="mb">@sellOrder.Quantity <span class="text-grey">shares at </span> $@sellOrder.Price.ToString("N")</h5>
                    <h5 class="mb"><span class="text-grey">Trade Amount: </span> $@sellOrder.TradeAmount.ToString("N")</h5>

                    <div class="text-grey">@sellOrder.DateAndTimeOfOrder.ToString("dd MMMM yyyy hh:mm:ss tt")</div>
                </div>
            }
            @if (Model.SellOrders.Count() == 0)
            {
                <div class="mt text-grey">No orders</div>
            }
        </div>
    </div>
</div>

<style>
    .flex {
        display: flex;
        flex-wrap: wrap;
        align-content: stretch;
        align-items: stretch;
    }

        .flex > div {
            padding: 4px;
        }

    .orders-list {
        flex-direction: row;
    }

    #buy-orders-list, #sell-orders-list {
        flex: 1 auto;
    }

    .box {
        margin: 10px 20px;
        padding: 15px;
        border-radius: 8px;
        border: 2px solid #d3d1d1;
        box-shadow: 0px 0px 3px 2px #ffffff;
    }

    .text-grey {
        color: #929292;
    }

    .mb {
        margin-bottom: 10px;
    }

    .border-bottom {
        border-bottom: 2px solid #7a7a7a;
        margin-bottom: 6px;
    }

    .p {
        padding: 10px;
    }
</style>